{% extends 'shop/base.html' %}

{% block main_area %}
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
        <a class="btn btn-info float-right" href="/shop/create_product/" role="button">
            <i class="fas fa-pen"> New Product</i></a>
        {% endif %}
    {% endif %}

    <h2>Shop
        <!--사이드바 부분-->
        {% if search_info %}
            <span class="badge badge-secondary">{{search_info}}</span>
        {% endif %}
        {% if category %}
        - <span class="badge badge-secondary">{{category}}</span>
        {% endif %}
        {% if manufacturer %}
        - <span class="badge badge-secondary">{{manufacturer}}</span>
        {% endif %}
        {% if tag %}
        <i class="fas fa-tag"></i>
        - <span class="badge badge-secondary">
            {{tag}} {{tag.product_set.count}} </span>
        {% endif %}
    </h2>

    <!--물건 정렬-->
    {% if product_list.exists %}
    {% for p in product_list %}
    <div class="card mb-4" id="product-{{p.pk}}">
        {% if p.head_image %}
            <img class="card-img-top" style="height:200px" src="{{p.head_image.url}}" alt="{{p}}의 head_image" />
        {% else %}
        <img class="card-img-top" src="https://picsum.photos/seed/{{p.pk}}/800/200" alt="random image" />
        {% endif %}
        <div class="card-body">
            {% if p.category %}
            <span class="badge badge-warning float-right">
                <a href="{{p.category.get_absolute_url}}">{{p.category}}</a>
            </span>
            {% else %}
            <span class="badge badge-warning text-decorations-none float-right">
                <a href="/shop/category/no_category/">
                    미분류
                </a></span>
            {% endif %}

            {% if p.manufacturer %}
            <span class="badge badge-info float-right">
                <a href="{{p.manufacturer.get_absolute_url}}">{{p.manufacturer}}</a>
            </span>
            {% endif %}

            <h2 class="card-title">{{p.name | upper}}</h2>

            {% if p.hook_text %}
                <h6 class="text-muted"> {{p.hook_text}} </h6>
            {% endif %}
            <h5>가격: {{p.price | upper}}메소</h5>

            <!--태그 출력-->
            {% if p.tags.exists %}
                <i class="fas fa-tag"></i>
                {% for t in p.tags.iterator %}
                <span class="badge badge-pill badge-light">
                    <a href="{{t.get_absolute_url}}">
                        {{t}}
                    </a>
                </span>
                {% endfor %}
            {% endif %}
            <br>
            <a class="btn btn-primary" href="{{p.get_absolute_url}}">View Detail →</a>
        </div>

        <div class="card-footer">
            <div class="small text-muted">{{p.created_at| date:"Y-m-d h:m:s"}}</div>
            <a href="#">{{p.author | upper}}</a>
        </div>
    </div>
    {% endfor %}

    {% else %}
        <h5>아직 게시물이 없습니다.</h5>
    {% endif %}

    <!-- Pagination-->
    {% if is_paginated %}
    <nav aria-label="Pagination">
      <hr class="my-0" />
      <ul class="pagination justify-content-center my-4">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Newer</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
          {% endif %}

          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Older</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#!">Older</a></li>
          {% endif %}
      </ul>
    </nav>
    {% endif %}
{% endblock %}