{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
    Update Product info - Shop
{% endblock %}

{% block main_area %}
    <h1>Update Product</h1>
    <hr/>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{form | crispy}}
            <div id="div_id_tags_str">
                <label for="id_tags">Tags:</label>
                <input id="id_tags" type="text" name="tags_str" value="{{tags_str_default}}" class="textinput textInput form-control">
            </div>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
{% endblock %}